version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: leaderboard_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: leaderboard
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.2
    container_name: leaderboard_redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
